:root {
  --primary-color: #673AB7;
  --accent-color: #FF7300;
  --light-primary-color: #D1C4E9;
  --dark-primary-color: #512DA8;
  --text-primary: white;
  --text-secondary: #353C8C;
  --sec-text-secondary: #757575;
}

body {
  font-family: sans-serif;
  background-color: black;
  color: #FFFFFF;
  text-align: center;
}

/**CLIENTE**/
body .client-general{
  width: stretch;
  height: stretch;
  background-image: url("./admin/background-right.png"),
                    url("./admin/background-left.png"),
                    url("./client/background.png");
  background-repeat: no-repeat,
      no-repeat,
      no-repeat;
  background-position: right,
      left,
      center;
  background-size: 100%,
  100%,
  cover;
  text-align: center;
}

.login-form {
  width: 80%;
  margin: 0px auto;
  background-color:rgba(57, 65, 140, 0.7);
  font-family: 'Hind', sans-serif;
  padding-bottom: 5%;
}

.login-form h1{
  font-size: 6vw;
  padding-bottom: 5%;
  } 

.login-form .row-content{
  font-size: 2.5vw;
}

.subscribe{
  background-color: var(--accent-color);
  background-color: var(--accent-color);
  color: var(--text-primary);
  font-size: 3vw;
  margin-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
}
.client-general .header{
  width:100%;
  height:15vh;
  overflow:hidden;
  background: white;
  text-align: left;
  box-shadow: 5px 5px 3px black;
}

.client-general .image-banner{
  padding-top: 5px;
  padding-bottom: 5px;
  width: 30vh;
  padding-left: 10px;
}

.client-general .waiting {
  width: 70%;
  margin: 0px auto;
  background: rgb(255, 255, 255, 0.5);
  color: var(--text-secondary);
}

.client-general .waiting h1 {
  font-size: 7vw; 
  padding: 5%;
}

/**ADMINISTRADOR**/
body .admin-general {
  width: stretch;
  height: stretch;
  background-image: url("./admin/background-right.png"),
                    url("./admin/background-left.png"),
                    url("./admin/background.png");
  background-repeat: no-repeat,
      no-repeat,
      no-repeat;
  background-position: right,
      left,
      center;
  background-size: 100%,
  100%,
  100%;
  text-align: center;
}

.admin-general .waiting {
  margin-top: 5%;
  padding-top: 5%;
   margin:0px auto;
  width: 65%;
  padding-bottom: 5%;
  background-color:rgba(0, 0, 0, 0.7);
}

.admin-general .waiting h1{
  font-size: 10vw;
  font-family: 'Hind', sans-serif;
  font-style: bold;
}
	
.start-game{
  background-color: var(--accent-color);
  color: var(--text-primary);
  font-size: 3vw;
  margin-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  font-style: bold;
  font-family: 'Hind', sans-serif;
  box-shadow: 5px 5px 3px rgb(10,10,10);
}



.form-fields{
	text-align: left;
	margin-left: 10%;
	margin-right: 10%;
}

.loading-icon{
	margin: auto 0;
}

